/* Base drop spot style */
.drop-child-spot {
  height: 10px;
  margin-top: 2px;
  width: 100%;
}

/* Drag Over spot styling */
.drop-child-spot.drag {
  height: 70px;
  background-color: #ddfbdd;
  border: 1px dashed #000;
  border-radius: 2px;
}

/* Connection Area for drop spot */
.connection-area {
  width: 12px;
  display: inline-block;
}
.connection-area::before, .connection-area::after {
    content: "";
    position: relative;
    left: 0px;
    top: 0;
    height: 50%;
    border-left: 2px solid #000;
    display: block;
}
.drop-parent-spot.drag .connection-area::before {
    border-bottom: 2px dotted #000;
}