
/* Base colors */
:host {
    --error-color: #ff1744;
    --primary-color: #21528c;
    --secondary-color: #7a267b;
    --primary-light-color: #f0f3f5;
}

/* Base button disable style */
button:disabled {
    opacity: .3;
}

/* Shared connection area style */
.connection-area {
  width: 12px;
  display: inline-block;
}
.connection-area::before {
    content: "";
    position: relative;
    left: 0px;
    top: 0;
    height: 50%;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    display: block;
}
.not-last-child::after {
    content: "";
    position: relative;
    left: 0px;
    top: 0%;
    height: 50%;
    border-left: 2px solid #000;
    display: block;
}