.rule-wrapper {
  position: relative;
  width: 100%;
}
.delete-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  z-index: 100;
  padding: 0;
}
.rule {
  margin: 8px 4px 8px 0px;
  padding: 15px 40px 15px 8px;
  background-color: #f0f3f5;
  border-radius: 4px;
  width: 100%;
  min-height: 70px;
  word-break: normal;
  overflow-wrap: anywhere;
  font-size: 12px;
}
.rule.empty {
  border: 2px dotted #000;
  color: #aaa;
  text-align: center;
  font-weight: bold;
  line-height: 36px;
}
.rule.filled {
  border: 2px solid #000;
}

.connection-area {
  width: 12px;
  display: inline-block;
}
 .connection-area::before {
    content: "";
    position: relative;
    left: 0px;
    top: 0%;
    height: 50%;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    display: block;
}
.not-last-child::after {
    content: "";
    position: relative;
    left: 0px;
    top: 0%;
    height: 50%;
    border-left: 2px solid #000;
    display: block;
}
.trait-data {
  width: 60%;
  max-width: 60%;
}
.operator-data {
  min-width: 120px;
}
.operator-data label {
  display: block;
  font-weight: 700;
}
.value-data {
  min-width: 120px;
}
.value-data label {
  display: block;
  font-weight: 700;
}