@import './main.css';

/* Static column for trait selection */
.trait-filter-column {
    width: 280px;
    height: 100vh;
    background-color: var(--primary-light-color);
    z-index: 1;
    padding: 8px 4px 4px 4px;
    border-right: 1px solid #ccc;
}

/* Title */
.drawer-title {
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

/* Filter Rows */
.filter-section-row {
  margin-bottom: 8px;
}
.filter-section-row label {
  display: block;
}
.filter-section-row input, .filter-section-row select {
  width: 100%;
}

/* Directions Row */
.directions-section-row {
  padding: 4px 8px 8px 8px;
  color: #aaa;
  font-style: italic;
  text-align: center;
}

/* Filtered trait area */
.filtered-trait-area {
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  flex-direction: column;
}

/* Selectable Traits */
.selectable-trait {
  padding:4px;
  border-radius: 4px;
  border: 2px dotted #000;
  overflow-wrap: anywhere;
  margin-bottom: 8px;
  background-color: #fff;
  cursor: grab;
}
.taxonomy-area {
  margin-top: 4px;
  font-size: 10px;
}
.trait-name {
  font-weight: 700;
}
.cat-name {
  color: var(--secondary-color);
  font-weight: 600;
}
.subcat-name {
  color: var(--primary-color);
  font-weight: 600;
}